$desaturated-red: hsl(0, 36%, 70%);
$Soft_Red: hsl(0, 93%, 68%);
$Dark_gr: hsl(0, 6%, 24%);
$gradient_one: linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
$gradient_two: linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
$f-fam: 'Josefin Sans', 'Helvetica', 'Arial', sans-serif;

body{
    height: 100;
    padding: 0;
    margin: 0;
    font-family: $f-fam;
}

header {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;

    .wrapper {
        margin: 0;
        padding: 5% 13%;
        height: auto;
        width: 100%;
    }
}

.main_content {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;

    .left_content{
        width: 50%;
        margin: 3% 13%;

        h1 {
            font-size: 70px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1rem;
            line-height: 1.2;
            color: $Dark_gr;
            span {
                font-weight: 300;
                color: $desaturated-red;
            }
        }

        p {
            width: 85%;
            font-size: 18px;
            letter-spacing: 2px;
            line-height: 1.5;
            color: $desaturated-red;
        }
    }

    .right_content {
        height: 100vh;
        width: 50%;
        background: url('../images/hero-desktop.jpg');
        background-position: center;
        background-repeat: none;
        background-size: cover;
        position: absolute;
        float: right;
        overflow: hidden;
    }
}