* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  --desatured-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish: hsl(0, 6%, 24%);
}

body {
  background: linear-gradient(135deg, white, #fff5f5);
}

.logo {
  height: 80px;
  margin-left: 5%;
}

.logo img {
  width: 140px;
  padding: 30px 20px 20px 0px;
}

#desktop {
  display: none;
}

#mobile {
  width: 100%;
}

.main-text {
  width: 90%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

h1 {
  letter-spacing: 15px;
  line-height: 120%;
  font-weight: 600;
  font-size: 3em;
}

h1 span {
  color: var(--desatured-red);
  font-weight: 300;
}

p {
  line-height: 120%;
  color: var(--desatured-red);
  margin: 20px 0;
}

input {
  margin-top: 20px;
  width: 100%;
  padding: 18px;
  border-radius: 25px;
  background: transparent;
  border: 1px solid rgba(247, 192, 192, 0.5);
}

::-webkit-input-placeholder {
  color: #ce9797;
}

:-ms-input-placeholder {
  color: #ce9797;
}

::-ms-input-placeholder {
  color: #ce9797;
}

::placeholder {
  color: #ce9797;
}

form {
  position: relative;
}

.arrow, #error-icon {
  position: absolute;
}

.arrow {
  top: 19px;
  right: 0;
  height: 52px;
  width: 70px;
  border-radius: 25px;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border: none;
  -webkit-box-shadow: 2px 5px 4px var(--desatured-red);
          box-shadow: 2px 5px 4px var(--desatured-red);
}

#error-icon {
  top: 32px;
  right: 85px;
  height: 28px;
  display: none;
}

#error-msg {
  text-align: left;
  padding-left: 20px;
}

@media only screen and (min-width: 520px) {
  .model-img {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
  }
  #desktop {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  #mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background: url("./images/bg-pattern-desktop.svg");
  }
  .logo {
    position: absolute;
    top: 20px;
    left: 10%;
    margin: 0;
  }
  .logo img {
    width: unset;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .model-img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 40%;
    margin: 0;
  }
  .main-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
    max-width: 40%;
    margin-left: 10%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 110px;
  }
}

@media only screen and (min-width: 1300px) {
  .logo {
    top: 5%;
  }
  .logo img {
    width: unset;
  }
  .main-text {
    margin-top: 130px;
  }
  h1 {
    font-size: 4em;
    color: var(--dark-grayish);
  }
  .arrow {
    width: 100px;
  }
  input {
    border-width: 2px;
  }
}
/*# sourceMappingURL=main.css.map */
